
body {
    font-family: 'Roboto';
}

.button{
    font-family: "Roboto";
    border-radius:40px;
    border: 3px solid black;
    padding: 5px 15px;
    background: white;
    align-items: center;
}

.box{
    display: flex;
    margin: auto;
}

.boxoffre{
    width: 200px;
    height: 410px;
    padding: 50px;
    margin: 5px;
}

/*Header*/

header{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    border-bottom: 3px solid #f9f9f9;
    
}
header img{
    height: 20px;
    width: auto;
}
a{
    text-decoration: none;
}
header a {
    color: black;
    padding: 0 10px;
}
header button{
    margin: 0 5px;
}
header nav{
    margin-bottom: 10px;
}
.connex {
    border-color: #2d96c8;
    color: #2d96c8;
}
.join {
    border-color: #2d96c8;
    color: white;
    background-color: #2d96c8;
}

/*Première*/

.premiere{
    display: flex;
    height: 300px;
}
.img-prem {    
    width: auto;
    height: 300px;
    overflow: hidden;
    margin-right:0;
}
.premiere img {
    height: 500px;
}
.prem {
    width: 379px;
    margin-right: 40px;
    margin-left: 60px;
}
.prem h1{
    margin-bottom: 5px;
}
.prem p {
    color: #ef5466;
    margin-top: 1em;
    font-size: large;
    margin-top: 0;
    margin-bottom: 10px;
}
.prem button {
    width: 150px;
    height: 40px;
    margin-right: 25px;
}
.premium{
    border: #ef5466;
    background: #ef5466;
    color: white;
}
.boxpr{
    margin-right: 60px;
}

/*Presentation*/

.presentation {
    background: #f9f9f9;
    display: flex;
}
.presentation img {
    width: 250px;
    height: 471.61px;
    margin: 50px 15px;
}
.infobox {
    width: 600px;
    padding: 33px;
    display: block;
}
.infobox div{
    justify-content: space-evenly;
    padding-right: 20px;
}
.textpres {
    display: flex;
}
.textpres p {
    font-size: 14px;
}
.textpres h2{
    font-size: 18px;
}

/*Icones*/
.icones{
    background-color: #ef5466;
    color: white;
    height: 170px;
}
.icones img{
    width: 45px;
    margin: 5px;
    filter: brightness(0) invert(1);
    padding-top: 50px;
}
.ibox{
    justify-content: center;
}
.iline{
    margin-right: 15px;
}
.itext{
    padding-top: 15px;
    width: 400px;
}
.itext p {
    font-size: 12px;
}

/*Offres*/
.offres img{
    width: 14px;
    margin: 0 10px;
    filter: brightness(0) invert(1);
}
.boxoofre h2{
    align-items: center;
}
.boxoffre p{
    color:#8e8e94;
}
.blanc{
    box-shadow:0 0 5px 3px rgb(226, 226, 226);
}
.blue{
    background: #2d96c8;
    color: white;
}
.blue p{
    color: white;
}
.three{
    display: flex;
    margin: auto;
    justify-content: center;
}
.offres button{
    width: 150px;
    height: 30px;
    margin-right: 25px;
}