
body {
    font-family: 'Roboto';
}

.button{
    font-family: "Roboto";
    border-radius:40px;
    border: 3px solid black;
    padding: 5px 15px;
    background: white;
    align-items: center;
}

.box{
    display: flex;
    margin: auto;
}

.boxoffre{
    width: 200px;
    height: 450px;
    padding: 50px;
    margin: 5px;
}
a{
    text-decoration: none;
}

/*Header*/

header{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    border-bottom: 3px solid #f9f9f9;
    padding: 10px;
}
.container img{
    width: auto;
    height: 25px;
}
nav p{
    display: inline-block;
    margin: 0 10px;
}
nav a{
    color: black;
}
nav button{
    margin: 5px;
}
.connex{
    border-color: #2d96c8;
    color:#2d96c8
}
.join{
    border-color: #2d96c8;
    color: white;
    background-color: #2d96c8;
}
.nav-toggle {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display:none;
}

/*Première*/

.premiere{
    display: flex;
    height: 300px;
}
.img-prem {    
    width: auto;
    height: 300px;
    overflow: hidden;
    margin-right:0;
}
.premiere img {
    height: 500px;
}
.prem {
    width: 379px;
    margin: 10px 80px;
}
.prem h1{
    margin-bottom: 5px;
}
.prem p {
    color: #ef5466;
    margin-top: 1em;
    font-size: large;
    margin-top: 0;
    margin-bottom: 10px;
}
.prem button {
    width: 150px;
    height: 40px;
    margin-right: 25px;
}
.premium{
    border: #ef5466;
    background: #ef5466;
    color: white;
}
.boxpr{
    margin-right: 60px;
}

/*Presentation*/

.presentation {
    background: #f9f9f9;
    display: flex;
}
.presentation img {
    width: 250px;
    height: 471.61px;
    margin: 50px 15px;
}
.infobox {
    width: 600px;
    padding: 33px;
    display: block;
}
.infobox div{
    justify-content: space-evenly;
    padding-right: 20px;
}
.textpres {
    display: flex;
}
.textpres p {
    font-size: 14px;
}
.textpres h2{
    font-size: 18px;
}

/*Icones*/

.icones{
    background-color: #ef5466;
    color: white;
    height: 170px;
}
.icones img{
    width: 45px;
    margin: 5px;
    filter: brightness(0) invert(1);
    padding-top: 50px;
}
.ibox{
    justify-content: center;
}
.iline{
    margin-right: 15px;
}
.itext{
    padding-top: 15px;
    width: 400px;
}
.itext p {
    font-size: 12px;
}

/*Offres*/

.three img{
    width: 14px;
    margin: 0 10px;
    filter: brightness(0) invert(1);
}
.boxoffre p{
    color:#8e8e94;
}
.blanc{
    box-shadow:0 0 5px 3px rgb(226, 226, 226);
}
.blanc img{
    filter: grayscale(1) invert(1) ;
}
.blue{
    background: #2d96c8;
    color: white;
}
.blue p{
    color: white;
}
.three{
    display: flex;
    margin: auto;
    justify-content: center;
}
.offres button{
    width: 200px;
    height: 40px;
}
.center{
    text-align: center;
    align-items: center;
}
.gray{
    border: #8e8e94;
    background: #8e8e94;
    color: white;
}
.offres a {
    margin: 5px;
    font-size: 10px;
}
.offres h1{
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}
.center p{
    font-size: 12px;
}
.bottom{
    padding-top: 20px;
}
.recommande{
    text-align: center;
    padding: 0;
    font-size: 12px;
    color: #8e8e94;
}
.recommande img{
    width: 10px;
    filter: brightness(0) invert(0.5);
}
.pie{
    margin: auto;
    width: 1100px;
    color: #8e8e94;
    font-size: 9px;
    padding-bottom: 20px;
    padding-top: 80px;
    text-align: center;
} 
.mois{
    justify-content: center;
    font-size: 12px;
    padding: 0 80px;
    margin: auto;
    margin-bottom: 40px;

}
.money{
    margin-bottom: 5px;
    font-size: 28px;
}

/*Offres part2*/

.ligneoffre {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 1100px;
    height: 120px;
    padding-top: 30px;
}
.ligneoffre button{
    margin: auto;
    margin-right: 0;
    padding: 5px 30px;
    align-items: none;
}
.ligne{
    background: #f9f9f9;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ligneoffre h3{
    display: inline;
    padding-top: 20px;
    padding-bottom: 10px;
}
.ligneoffre p{
    font-size: 14px;
    margin: 0;
}
.ligneoffre a {
    font-size: 10px;
    color: #2d96c8;
    padding-bottom: 15px;
}
.txtcenter {
    padding-top: 20px;
}
.percent{
    color: #ef5466;
    font-size: 23px;
    margin-left: 5px;
}

/*Footer*/

footer{
    background: black;
    color: white;
}
footer img{
    filter: brightness(0) invert(1)
}
footer a{
    color: white;
    text-decoration: none;
}
.download{
    display: flex;
}
.down {
    width: 30px;
    height: fit-content;
    padding: 3px 0;
    padding-right: 3px;
}
.norm{
    filter: none;
}
.stores{
    display: flex;
    border: 2px solid #8e8e94;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 80px 8px;
} 
.app {
    display: flex;
    margin: auto;
}
.boxapp{
    font-style: normal;
    padding-left: 5px;
}
.boxapp h4{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.boxapp p{
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.credit {
    display: flex;
    
    justify-content: space-between;
}
.colcredit a {
    display: block;
    margin: 30px 0;
}
.colcredit{
    margin: 0 20px;
    font-size: 14px;
}
.colcredit p{
    color: #8e8e94;
    margin-bottom: 40px;
}

.last{
}
.lastbox{
    display: flex;
}
.lastsocial{
    margin: auto;
}
.lastsocial img{
    width: 20px;
    margin: 10px;
}
.logolast{
    margin: auto;
    margin-bottom: 30px;
}
.language{
    margin: auto;
    display: flex;
}
.language nav {
    margin: 0 10px;
}

@media (max-width: 720px) {

    /*Header*/

    .container {
        flex-direction: column;
        text-align: center;
        margin: auto;
        height: 45px;
        overflow: hidden;
    }
    nav{
        width: 100%;
        display: none;
    }
    .menulist p, button{
        display: block;
        padding: 1.5rem 0;
    }

    .join {
        margin: 10px auto;
    }
    .connex {
        margin: 10px auto;
    }

    .menulist a {
        font-size: 1.4rem;
    }
    .nav-toggle {
        display:block;
    }

    /*Première*/

    .premiere{
        height: fit-content;
    }
    .prem{
        text-align: center;
        margin: 10px auto;
    }
    .prem button{
        margin: 10px auto;
        width: 400px;
        height: 50px;
        font-size: 20px;
    }
    .boxpr{
        display: block;
        width: 700px;
        height: 300px;
    }
    .img-prem{
        margin: 10px auto;
        overflow: hidden;
    }
    .premiere img{
        height: auto;
        width: 800px;
    }
}